.minimize-button, .maximize-button, .close-button {
    -fx-background-color: #ffffff15;
    -fx-background-radius: 15;
    -fx-background-insets: 6;
    -fx-pref-width: 36;
    -fx-pref-height: 36;
}

.minimize-button:hover, .maximize-button:hover, .close-button:hover {
    -fx-background-color: #ffffff25;
}

.minimize-button:pressed, .maximize-button:pressed, .close-button:pressed {
    -fx-opacity: 0.8;
}

.minimize-button > .glyph, .maximize-button > .glyph, .close-button > .glyph {
    -fx-background-color: #777;
    -fx-scale-shape: false;
}

.minimize-button:focused > .glyph, .maximize-button:focused > .glyph, .close-button:focused > .glyph {
    -fx-background-color: white;
}

.maximize-button:disabled {
    -fx-background-color: transparent;
}

.maximize-button:disabled > .glyph {
    -fx-background-color: #777;
}

.minimize-button > .glyph {
    -fx-shape: "M8 13.5H16";
}

.maximize-button > .glyph {
    -fx-shape: "M8.5 8.5V15.5H15.5V8.5H8.5Z";
}

.maximize-button:restore > .glyph {
    -fx-shape: "M8.5 9.5V15.5H14.5V9.5H8.5Z";
}

.close-button > .glyph {
    -fx-shape: "M15.5 15.5L8.5 8.5M15.5 8.5L8.5 15.5";
}
